$AquaPoise: #7bd4cc;
$Honey: #bea42e;
$Army: #7b895b;
$Darkteal: #00abb2;
$Sangria: #00281f;
$Skyblue: #bcfdff;
$MidnightPurple: #912588;
$duration: 5s;
$text-color: rgba(255, 255, 255, 0.3);
$bgr-color: #333;

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  justify-content: center;
  padding: 100px;
}

h3 {
  color: #9444c9;
}

p {
  color: #9444c9;
  font-size: 1rem;
  padding: 12px;
  font-weight: 900;
  text-align: center;
}

.about-me {
  align-items: center;
  text-align: center;
  font-size: 5rem;
  top: 40px;
  padding: 5px;
  opacity: 1;
  border-radius: 10px;
  background: -webkit-linear-gradient(#000000, #9444c9);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.icon-group {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.tech-icons {
  height: 50px;
  width: 50px;
  margin: 30px;
}

.wedding-site {
  text-decoration: none;
  color: rgb(132, 144, 245);
  line-break: normal;
  cursor: pointer;
}

.wedding-site:hover {
  background: #222 -webkit-gradient(
      linear,
      left top,
      right top,
      from(#222),
      to(#222),
      color-stop(0.5, #fff)
    ) 0 0 no-repeat;
  background-image: -webkit-linear-gradient(
    -40deg,
    transparent 0%,
    transparent 40%,
    #fff 50%,
    transparent 60%,
    transparent 100%
  );
  -webkit-background-size: 200px;
  color: $text-color;
  -webkit-background-clip: text;
  -webkit-animation-name: shine;
  -webkit-animation-duration: $duration;
  -webkit-animation-iteration-count: infinite;
  text-shadow: 0 0px 0px rgba(255, 255, 255, 0.5);
}

@keyframes shine {
  0%,
  10% {
    background-position: -1000px;
  }
  20% {
    background-position: top left;
  }
  90% {
    background-position: top right;
  }
  100% {
    background-position: 1000px;
  }
}

@-webkit-keyframes shine {
  0%,
  10% {
    background-position: -1000px;
  }
  20% {
    background-position: top left;
  }
  90% {
    background-position: top right;
  }
  100% {
    background-position: 1000px;
  }
}
