$AquaPoise: #7BD4CC;
$Honey: #BEA42E;
$Army: #7B895B;
$Celadon: #037367;
$Sangria: #00281F;

// menu styles
.menu {
    position: absolute;
    background-color: $Celadon;
    color: black;
    z-index: 30;
}

.menu--full {
    width: 100%;
    height: 100vh;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-list {
    padding: 0;
    list-style: none;
}

.menu-list-item--full {
    font-size: 5em;
    margin: 40px 0;
}

.menu a {
    text-decoration: none;
    color: $Honey;
}

.menu a:hover,
.menu a:focus {
    color: $Sangria;
}

// button styles
.menu-button--full {
    top: 40px;
    left: 20px;
}

.menu-button {
    z-index: 40;
    border: none;
    position: fixed;
    top: 40px;
    right: 20px;
    padding: 12px;
    font-size: 1em;
    background: none;
    background: #fff;
    color:  $Honey;
}

.menu-button--full:hover {
    background: $Celadon
}