$AquaPoise: #7bd4cc;
$Honey: #bea42e;
$Army: #7b895b;
$Darkteal: #00abb2;
$Sangria: #00281f;
$Skyblue: #bcfdff;
$MidnightPurple: #912588;

* {
  box-sizing: border-box;
}

// menu styles
.menu {
  position: absolute;
  background-color: $Skyblue;
  z-index: 3;
}

.menu--full {
  width: 100%;
  height: 100vh;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  font-size: 10px;
  background-color: black;
}

.menu-background {
  position: fixed;
  height: 100vh;
  width: auto;
}

.menu-list {
  padding: 0;
  list-style: none;
}

.menu-list-item--full {
  font-size: 5em;
  margin: 40px 0;
}

.menu a {
  text-decoration: none;
  color: $Darkteal;
  font-weight: 600;
}

.menu a:hover,
.menu a:focus {
  color: #65467c;
}

// button styles
.menu-button--full {
  top: 40px;
  left: 20px;
}

button.menu-button {
  border: none;
  position: fixed;
  top: 40px;
  right: 20px;
  padding: 12px;
  font-size: 2vw;
  background: none;
  background: #65467c;
  color: black;
  z-index: 4;
  border-radius: 5px;
  font-weight: 100px;
  box-shadow: 0px 0px 52px #ed5ae1a9, 0px 0px 15px #5aede17e;
}

.menu-button--full:hover {
  background: black;
  color: whitesmoke;
}
