// stars + twinkling backround for parallax
.stars, .twinkling {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

.stars {
    background: #000 url(http://www.script-tutorials.com/demos/360/images/stars.png) repeat top center;
}

.stars .twinkling {
    background: transparent url(http://www.script-tutorials.com/demos/360/images/twinkling.png) repeat top center;
    
    -moz-animation: move-twink-back 200s linear infinite;
    -ms-animation:move-twink-back 200s linear infinite;
    -o-animation:move-twink-back 200s linear infinite;
    -webkit-animation:move-twink-back 200s linear infinite;
    animation:move-twink-back 200s linear infinite;
}


@keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-webkit-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-moz-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-ms-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}

.satellite {
    width: 10%;
    margin-left: 70%;
}

.moon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
}

.blue-sky {
    width: 100vw;
    height: 100vh;
}

.sun {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    margin-top: -20%;
}

.reye {
    margin-left: 10%;
    margin-top: -13%;
    width: 50%;
}

.leye {
    margin-left: 10%;
    margin-top: -13%;
    width: 50%;
}

.cloud1 {
    width: 70%;
    margin-left: -5%;
    margin-top: 9%;
}

.cloud2 {
    width: 85%;
    margin-left: 15%;
}

.hill1 {
    width: 100%;
  
}

.hill2 {
    width: 100%;
    
}
