$AquaPoise: #7bd4cc;
$Honey: #bea42e;
$Army: #7b895b;
$Darkteal: #00abb2;
$Sangria: #00281f;
$Skyblue: #bcfdff;
$MidnightPurple: #912588;

@media (max-width: 500px) {
  body {
    width: 100vw !important;
    height: 100vh !important;
  }

  div.header-name {
    font-size: 4.5vw !important;
  }

  .about-me {
    font-size: 3rem !important;
  }

  p {
    font-size: 13px !important;
  }

  .container {
    display: flex !important;
    height: 100vh !important;
    padding: 3px !important;
    overflow: scroll;
  }

  .tech-icons {
    height: 35px !important;
    width: 35px !important;
  }

  .carousel-project-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    padding-bottom: 20px;
    font-size: 7px !important;
    text-align: center;
    padding: 10px;
    align-items: center !important;
    width: 100vw !important;
  }

  .projectImage {
    height: 150px !important;
    width: 250px !important;
  }

  .contact-container {
    height: 50vh !important;
    width: 89vw !important;
    font-size: 0.9rem !important;
    transform: translate(7%, 35%) !important;
  }

  .icon-images {
    height: 50px !important;
    width: 50px !important;
  }
}
/* Ipad 768px */

@media screen and (max-width: 768px) {
  .header-name {
    font-family: cartoon-font;
    font-size: 5vw;
    color: white;
    margin-top: 80px;
  }
  button.menu-button {
    border: none;
    position: fixed;
    top: 25px;
    left: 83%;
    padding: 12px;
    font-size: 2rem;
    background: none;
    background: $MidnightPurple;
    z-index: 3;
    border-radius: 5px;
  }
  .menu--full {
    width: 100%;
    height: 100vh;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    font-size: 10px;
  }
  .menu a {
    text-decoration: none;
    color: #fff;
    font-weight: 800;
  }
  .menu a:hover,
  .menu a:focus {
    color: #fff;
  }
  .city {
    pointer-events: none;
    width: 100%;
    margin-top: 73%;
  }
  .icon-images {
    display: flex;
    height: 7px;
    width: 75px;
    align-items: center;
    cursor: pointer;
  }
}

/* Iphone 5/SE 320px */
@media screen and (max-width: 320px) {
  html,
  body {
    width: 94%;
  }
  .header-name {
    font-family: cartoon-font;
    font-size: 5vw;
    color: white;
    width: 94%;
  }
  .city {
    position: absolute;
    left: 0;
    bottom: 50px;
    pointer-events: none;
    width: 100%;
  }
  button.menu-button.menu-button--full {
    position: fixed;
    top: 15px;
    left: 75%;
    font-size: 1em;
    border-radius: 5px;
    margin: auto;
    padding: auto;
    z-index: 4;
  }
  .menu--full {
    width: 100%;
    height: 100vh;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
  }
  .menu a {
    text-decoration: none;
    color: $MidnightPurple;
    font-weight: 600;
  }
  .menu a:hover,
  .menu a:focus {
    color: $MidnightPurple;
  }
  .menu-button--full:hover {
    background: $MidnightPurple;
  }
  .menu-list-item--full {
    font-size: 2em;
    margin: 40px 0;
  }
  .moon {
    position: relative;
    width: 35%;
  }
  .satellite {
    width: 25%;
    margin-left: 55%;
  }
}

/* Iphone 6/7/8 375px */
@media screen and (max-width: 375px) {
  html,
  body {
    width: 94%;
  }
  .header-name {
    font-family: cartoon-font;
    font-size: 1.3em;
    color: white;
    width: 94%;
  }
  .city {
    position: absolute;
    left: 0;
    bottom: 50px;
    pointer-events: none;
    width: 100%;
  }
  button.menu-button {
    position: fixed;
    top: 20px;
    left: 77%;
    font-size: 1em;
    border-radius: 5px;
    margin: auto;
    padding: auto;
    z-index: 4;
  }
  .menu--full {
    width: 100%;
    height: 100vh;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
  }
  .menu a {
    text-decoration: none;
    color: $MidnightPurple;
    font-weight: 600;
  }
  .menu a:hover,
  .menu a:focus {
    color: $MidnightPurple;
  }
  .menu-button--full:hover {
    background: $MidnightPurple;
  }
  .menu-list-item--full {
    font-size: 2em;
    margin: 40px 0;
  }
  .moon {
    position: relative;
    width: 35%;
  }
  .satellite {
    width: 25%;
    margin-left: 55%;
  }
}

/* Iphone 6/7/8 plus 414px */
@media screen and (max-width: 414px) {
  html,
  body {
    width: 94%;
  }
  div.header-name {
    font-family: cartoon-font;
    font-size: 5vw;
    color: white;
    width: 94%;
  }
  .city {
    position: absolute;
    left: 0;
    bottom: 50px;
    pointer-events: none;
    width: 100%;
  }
  button.menu-button {
    position: fixed;
    top: 20px;
    left: 77%;
    font-size: 5vw;
    border-radius: 5px;
    margin: auto;
    padding: auto;
    z-index: 4;
    color: black;
  }
  .menu--full {
    width: 100%;
    height: 100vh;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
  }
  .menu a {
    text-decoration: none;
    color: $MidnightPurple !important;
    font-weight: 600;
  }
  .menu a:hover,
  .menu a:focus {
    color: $MidnightPurple;
  }
  .menu-button--full:hover {
    background: $MidnightPurple;
  }
  .menu-list-item--full {
    font-size: 2em;
    margin: 40px 0;
  }
  .moon {
    position: relative;
    width: 35%;
  }
  .satellite {
    width: 25%;
    margin-left: 55%;
  }
}

/* Iphone X 375px */
@media screen and (max-width: 375px) {
  html,
  body {
    width: 94%;
  }
  div.header-name {
    font-family: cartoon-font;
    font-size: 5vw;
    color: white;
    width: 94%;
  }
  div.city {
    position: absolute;
    left: 0;
    bottom: 55px;
    pointer-events: none;
    width: 100%;
  }
  button.menu-button {
    position: fixed;
    top: 20px;
    left: 77%;
    font-size: 5vw;
    border-radius: 5px;
    margin: auto;
    padding: auto;
    z-index: 4;
  }
  .menu--full {
    width: 100%;
    height: 100vh;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
  }
  .menu a {
    text-decoration: none;
    color: $MidnightPurple;
    font-weight: 600;
  }
  .menu a:hover,
  .menu a:focus {
    color: $MidnightPurple;
  }
  .menu-button--full:hover {
    background: $MidnightPurple;
  }
  .menu-list-item--full {
    font-size: 2em;
    margin: 40px 0;
  }
  .moon {
    position: relative;
    width: 35%;
  }
  .satellite {
    width: 25%;
    margin-left: 55%;
  }
}
